<div class="row view-mode-content-block" :class="[tableViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Renginiai</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Pavadinimas <i class="fas fa-sort"></i></p>
                        <p>Data <i class="fas fa-sort"></i></p>
                        <p>Komentaras <i class="fas fa-sort"></i></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Ktu karjeros dienos", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("-", "Details", "Events")</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Ktu karjeros dienos", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("turi buti visa komanda", "Details", "Events")</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("lan party", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("-", "Details", "Events")</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("baigiam7j7 darbu gybimai", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("reik skubiai", "Details", "Events")</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Ktu karjeros dienos", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("-", "Details", "Events")</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Ktu karjeros dienos", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("komentaras", "Details", "Events")</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Ktu karjeros dienos", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("-", "Details", "Events")</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Ktu karjeros dienos", "Details", "Events")</p>
                        <p>@Html.ActionLink("2019-03-31", "Details", "Events")</p>
                        <p>@Html.ActionLink("-", "Details", "Events")</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
