@using HardwareReservationAndAccountingSystem.Models;
@model Event

@{
    ViewData["Title"] = "Renginio informacija";
}

@section PageHeaderTitle {
    <h2>Renginio informacija</h2>
}

@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Events")" class="btn btn-dark"><i class="fas fa-calendar-day"></i> Visi renginiai</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal"><i class="far fa-edit"></i> Atnaujinti</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newEventModal"><i class="fas fa-pencil-alt"></i> Sukurti naują</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title with-edit">
                <h3>Pagrindinė informacija</h3>
                <div class="edit-actions">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editModal"><i class="far fa-edit"></i></button>
                </div>
            </div>
            <div class="content base-info">
                <div class="row">
                    <div class="col-md-2"><p>Pavadinimas:</p></div>
                    <div class="col-md-10"><p>@Model.Title</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Pradžios laikas:</p></div>
                    <div class="col-md-10"><p>@Model.StartTime</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Pabaigos laikas:</p></div>
                    <div class="col-md-10"><p>@Model.EndTime</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Lokacija:</p></div>
                    <div class="col-md-10"><p>@(!string.IsNullOrWhiteSpace(Model.Location) ? Model.Location : "nenurodyta")</p></div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Comment))
                {
                    <div class="row">
                        <div class="col-md-2"><p>Komentaras:</p></div>
                        <div class="col-md-10">
                            <p>@Model.Comment</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Su renginiu susiję pranešimai</h3>
            </div>
            <div class="content">
                @if (Model.Notifications.Any())
                {
                    foreach (var notification in Model.Notifications)
                    {
                        <p>
                            <a href="@Url.Action("Details", "Notifications", new { id = notification.Id })">
                                <span>@notification.CreatedOn</span>
                                @notification.Title
                            </a>
                        </p>
                    }
                }
                else
                {
                    <p>Susijusių pranešimų nėra.</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Su renginiu susijusios rezervacijos</h3>
            </div>
            <div class="content">
                @if (Model.Reservations.Any())
                {
                    <div class="flex-table styled-table">
                        <div class="headings">
                            <p>Būsena <i class="fas fa-sort"></i></p>
                            <p>Nuo <i class="fas fa-sort"></i></p>
                            <p>Iki <i class="fas fa-sort"></i></p>
                            <p>Užsakovas <i class="fas fa-sort"></i></p>
                            <p>Įranga <i class="fas fa-sort"></i></p>
                        </div>
                        @foreach (var reservation in Model.Reservations)
                        {
                            <div class="data-row">
                                @await Html.PartialAsync("_ReservationStatusOnlyText", reservation.Status)
                                <p>@Html.ActionLink(reservation.StartTime.ToString(), "Details", "Reservations", new { id = reservation.Id })</p>
                                <p>@Html.ActionLink(reservation.EndTime.ToString(), "Details", "Reservations", new { id = reservation.Id })</p>
                                <p>@Html.ActionLink(String.Format("{0} {1}", reservation.Customer.Name, reservation.Customer.Surname), "Details", "Users", new { id = reservation.CustomerId })</p>
                                <p>@Html.ActionLink(reservation.EquipmentBundle.Title, "Details", "EquipmentBundles", new { id = reservation.EquipmentBundleId })</p>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <p>Su renginiu susijusių rezervacijų nėra.</p>
                }
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Events/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Events/_ModalNew.cshtml", new Event())
@await Html.PartialAsync("~/Views/Events/_ModalEdit.cshtml", Model)

@*@if (Model.Reservations.Any())
{
    @foreach (var reservation in Model.Reservations)
    {
        @await Html.PartialAsync("~/Views/Reservations/_ModalEditStatus.cshtml", reservation)
    }
}*@
