@using HardwareReservationAndAccountingSystem.Models;
@model Event

@{
    ViewData["Title"] = "Renginio informacija";
}

@section PageHeaderTitle {
    <h2>Renginio informacija</h2>
}

@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Events")" class="btn btn-dark"><i class="fas fa-calendar-day"></i> Visi renginiai</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal"><i class="far fa-edit"></i> Atnaujinti</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newEventModal"><i class="fas fa-pencil-alt"></i> Sukurti naują</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title with-edit">
                <h3>Pagrindinė informacija</h3>
                <div class="edit-actions">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editMainInfoModal"><i class="far fa-edit"></i></button>
                </div>
            </div>
            <div class="content base-info">
                <div class="row">
                    <div class="col-md-2"><p>Pavadinimas:</p></div>
                    <div class="col-md-10"><p>@Model.Title</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Pradžios laikas:</p></div>
                    <div class="col-md-10"><p>@Model.StartTime</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Pabaigos laikas:</p></div>
                    <div class="col-md-10"><p>@Model.EndTime</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Lokacija:</p></div>
                    <div class="col-md-10"><p>@(!string.IsNullOrWhiteSpace(Model.Location) ? Model.Location : "nenurodyta")</p></div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Comment))
                {
                    <div class="row">
                        <div class="col-md-2"><p>Komentaras:</p></div>
                        <div class="col-md-10">
                            <p>@Model.Comment</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Su renginiu susiję pranešimai</h3>
            </div>
            <div class="content">
                <p><a href="@Url.Action("Details", "Notifications")"><span>2019-03-10 13:20</span> Priminimas apie artėjančią įrangos "Pradedantysis operatorius" wggdr.</a></p>
                <p><a href="@Url.Action("Details", "Notifications")"><span>2019-03-08 08:35</span> Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavim wetggdrgrd.</a></p>
                <p><a href="@Url.Action("Details", "Notifications")"><span>2019-03-08 08:35</span> Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavim aewt setgdrg</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Su renginiu susijusios rezervacijos</h3>
            </div>
            <div class="content">
                <p>rezervacijų list</p>
            </div>
        </div>
    </div>
</div>

@*@await Html.PartialAsync("~/Views/Shared/_NoContent.cshtml", "Šiuo metu nėra pridėta jokių renginių.")*@

@await Html.PartialAsync("~/Views/Events/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Events/_ModalNew.cshtml")
@await Html.PartialAsync("~/Views/Events/_ModalEdit.cshtml")
@await Html.PartialAsync("~/Views/Events/_ModalEditMainInfo.cshtml")
