<div class="row view-mode-content-block" :class="listViewMode">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Komplekto pavadinimas", "Details", "EquipmentBundles")
                </h3>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Quis est tam dissimile homini. At,
                    si voluptas esset bonum, desideraret. Quod autem ratione actum est, id officium appellamus. Non igitur de improbo, sed de callido improbo
                    quaerimus, qualis Q. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Ne tum quidem te respicies et cogitabis sibi quemque natum
                    esse et suis voluptatibus?
                </p>
                <p class="is-public yes"><strong>Paskelbta:</strong> <i class="fas fa-check"></i></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Komplekto pavadinimas", "Details", "EquipmentBundles")
                </h3>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Quis est tam dissimile homini. At,
                    si voluptas esset bonum, desideraret. Quod autem ratione actum est, id officium appellamus. Non igitur de improbo, sed de callido improbo
                    quaerimus, qualis Q. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Ne tum quidem te respicies et cogitabis sibi quemque natum
                    esse et suis voluptatibus?
                </p>
                <p class="is-public no"><strong>Paskelbta:</strong> <i class="fas fa-times"></i></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Komplekto pavadinimas", "Details", "EquipmentBundles")
                </h3>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Quis est tam dissimile homini. At,
                    si voluptas esset bonum, desideraret. Quod autem ratione actum est, id officium appellamus. Non igitur de improbo, sed de callido improbo
                    quaerimus, qualis Q. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Ne tum quidem te respicies et cogitabis sibi quemque natum
                    esse et suis voluptatibus?
                </p>
                <p class="is-public yes"><strong>Paskelbta:</strong> <i class="fas fa-check"></i></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Komplekto pavadinimas", "Details", "EquipmentBundles")
                </h3>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Quis est tam dissimile homini. At,
                    si voluptas esset bonum, desideraret. Quod autem ratione actum est, id officium appellamus. Non igitur de improbo, sed de callido improbo
                    quaerimus, qualis Q. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Ne tum quidem te respicies et cogitabis sibi quemque natum
                    esse et suis voluptatibus?
                </p>
                <p class="is-public no"><strong>Paskelbta:</strong> <i class="fas fa-times"></i></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Komplekto pavadinimas", "Details", "EquipmentBundles")
                </h3>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Quis est tam dissimile homini. At,
                    si voluptas esset bonum, desideraret. Quod autem ratione actum est, id officium appellamus. Non igitur de improbo, sed de callido improbo
                    quaerimus, qualis Q. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Ne tum quidem te respicies et cogitabis sibi quemque natum
                    esse et suis voluptatibus?
                </p>
                <p class="is-public yes"><strong>Paskelbta:</strong> <i class="fas fa-check"></i></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Komplekto pavadinimas", "Details", "EquipmentBundles")
                </h3>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Quis est tam dissimile homini. At,
                    si voluptas esset bonum, desideraret. Quod autem ratione actum est, id officium appellamus. Non igitur de improbo, sed de callido improbo
                    quaerimus, qualis Q. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Ne tum quidem te respicies et cogitabis sibi quemque natum
                    esse et suis voluptatibus?
                </p>
                <p class="is-public yes"><strong>Paskelbta:</strong> <i class="fas fa-check"></i></p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Komplekto pavadinimas", "Details", "EquipmentBundles")
                </h3>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Quis est tam dissimile homini. At,
                    si voluptas esset bonum, desideraret. Quod autem ratione actum est, id officium appellamus. Non igitur de improbo, sed de callido improbo
                    quaerimus, qualis Q. Cur igitur, inquam, res tam dissimiles eodem nomine appellas? Ne tum quidem te respicies et cogitabis sibi quemque natum
                    esse et suis voluptatibus?
                </p>
                <p class="is-public no"><strong>Paskelbta:</strong> <i class="fas fa-times"></i></p>
            </div>
        </div>
    </div>
</div>
