<div class="row view-mode-content-block" :class="tableViewMode">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Įrangos komplektai</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Pavadinimas <i class="fas fa-sort"></i></p>
                        <p>Aprašymas <i class="fas fa-sort"></i></p>
                        <p>Ar paskelbta? <i class="fas fa-sort"></i></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Įrangos komplekto pavadinimas", "Details", "EquipmentBundles")</p>
                        <p>@Html.ActionLink("Koks nors aprašymas apie įrangą...", "Details", "EquipmentBundles")</p>
                        <p class="is-public yes"><a href="@Url.Action("Details", "EquipmentBundles")"><i class="fas fa-check"></i></a></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Įrangos komplekto pavadinimas", "Details", "EquipmentBundles")</p>
                        <p>@Html.ActionLink("Koks nors aprašymas apie įrangą...", "Details", "EquipmentBundles")</p>
                        <p class="is-public no"><a href="@Url.Action("Details", "EquipmentBundles")"><i class="fas fa-times"></i></a></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Įrangos komplekto pavadinimas", "Details", "EquipmentBundles")</p>
                        <p>@Html.ActionLink("Koks nors aprašymas apie įrangą...", "Details", "EquipmentBundles")</p>
                        <p class="is-public no"><a href="@Url.Action("Details", "EquipmentBundles")"><i class="fas fa-times"></i></a></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Įrangos komplekto pavadinimas", "Details", "EquipmentBundles")</p>
                        <p>@Html.ActionLink("Koks nors aprašymas apie įrangą...", "Details", "EquipmentBundles")</p>
                        <p class="is-public yes"><a href="@Url.Action("Details", "EquipmentBundles")"><i class="fas fa-check"></i></a></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Įrangos komplekto pavadinimas", "Details", "EquipmentBundles")</p>
                        <p>@Html.ActionLink("Koks nors aprašymas apie įrangą...", "Details", "EquipmentBundles")</p>
                        <p class="is-public yes"><a href="@Url.Action("Details", "EquipmentBundles")"><i class="fas fa-check"></i></a></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Įrangos komplekto pavadinimas", "Details", "EquipmentBundles")</p>
                        <p>@Html.ActionLink("Koks nors aprašymas apie įrangą...", "Details", "EquipmentBundles")</p>
                        <p class="is-public no"><a href="@Url.Action("Details", "EquipmentBundles")"><i class="fas fa-times"></i></a></p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("Įrangos komplekto pavadinimas", "Details", "EquipmentBundles")</p>
                        <p>@Html.ActionLink("Koks nors aprašymas apie įrangą...", "Details", "EquipmentBundles")</p>
                        <p class="is-public yes"><a href="@Url.Action("Details", "EquipmentBundles")"><i class="fas fa-check"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
