@using HardwareReservationAndAccountingSystem.Enums;
@using HardwareReservationAndAccountingSystem.ViewsModels.EquipmentBundles;
@model EquipmentBundleDetails

@{
    ViewData["Title"] = "Įrangos komplekto informacija";
}

@functions {
    public string BundleStatusName(EquipmentBundleStatus status)
    {
        string name;

        switch (status)
        {
            case EquipmentBundleStatus.Public:
                name = "Prieinamas viešai";
                break;
            case EquipmentBundleStatus.Archive:
                name = "Archyvuotas";
                break;
            case EquipmentBundleStatus.Draft:
                name = "Ruošiamas";
                break;
            default:
                name = "";
                break;
        }

        return name;
    }
}

@section PageHeaderTitle {
    <h2>Įrangos komplekto informacija</h2>
}

@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "EquipmentBundles")" class="btn btn-dark"><i class="fas fa-camera"></i> Visi komplektai</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal"><i class="far fa-edit"></i> Atnaujinti</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#archiveModal"><i class="fas fa-archive"></i> Archyvuoti</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newModal"><i class="fas fa-pencil-alt"></i> Sukurti naują</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title with-edit">
                <h3>Pagrindinė informacija</h3>
                <div class="edit-actions">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editMainInfoModal"><i class="far fa-edit"></i></button>
                </div>
            </div>
            <div class="content base-info">
                <div class="row">
                    <div class="col-md-2"><p>Pavadinimas:</p></div>
                    <div class="col-md-10"><p>@Model.EquipmentBundle.Title</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Sukūrimo laikas:</p></div>
                    <div class="col-md-10"><p>@Model.EquipmentBundle.CreatedOn</p></div>
                </div>
                @if (Model.EquipmentBundle.CreatedOn != Model.EquipmentBundle.UpdatedOn)
                {
                    <div class="row">
                        <div class="col-md-2"><p>Atnaujinimo laikas:</p></div>
                        <div class="col-md-10"><p>@Model.EquipmentBundle.UpdatedOn</p></div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-2"><p>Paskelbtas:</p></div>
                    @if (Model.EquipmentBundle.Status == EquipmentBundleStatus.Public)
                    {
                        <div class="col-md-10"><p class="is-public yes"><i class="fas fa-check"></i></p></div>
                    }
                    else
                    {
                        <div class="col-md-10"><p class="is-public no"><i class="fas fa-times"></i></p></div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Komplekto būsena:</p></div>
                    <div class="col-md-10"><p>@BundleStatusName(Model.EquipmentBundle.Status)</p></div>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.EquipmentBundle.Description))
                {
                    <div class="row">
                        <div class="col-md-2"><p>Aprašymas:</p></div>
                        <div class="col-md-10">
                            <p>@Model.EquipmentBundle.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Įrangos sąrašas</h3>
            </div>
            <div class="content">
                <div class="row">
                    @foreach (var equipment in Model.EquipmentBundle.EquipmentsInBundles.Select(e => e.Equipment).ToList())
                    {
                        <div class="col-md-3 small-equipment-block add-margin">
                            <a href="@Url.Action("Details", "Equipments", new { id = equipment.Id })">
                                <img src="http://via.placeholder.com/500x250">
                            </a>
                            <h4><a href="@Url.Action("Details", "Equipments", new { id = equipment.Id })">@equipment.Title</a></h4>
                            @if (!string.IsNullOrWhiteSpace(equipment.Description))
                            {
                                string description;

                                if (equipment.Description.Length > 100)
                                {
                                    description = equipment.Description.Substring(0, 100) + "...";
                                }
                                else
                                {
                                    description = equipment.Description;
                                }
                                <p>@description</p>
                            }
                        </div>
                    }
                    <div class="col-md-3 small-equipment-block add-equipment add-margin">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addEquipmentModal">
                            <i class="fas fa-plus-circle"></i>
                            <p>Pridėti daugiau įrangos</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Komplekto užimtumas</h3>
            </div>
            <div class="content">
                <p>tiek list tiek kalendorius, tik nžn ar tame pačiame baltame bloke, ar atskiruose</p>
                <p>taip pat, šioje vietoje galima pasakyti, kad kalendorius yra interaktyvus ir kad galima rezervuoti šią įrangą tiesiai iš čia</p>
                <div id="calendar">
                    <calendar />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Su įrangos komplektu susiję pranešimai</h3>
            </div>
            <div class="content">
                @if (Model.EquipmentBundle.Notifications.Any())
                {
                    foreach (var notification in Model.EquipmentBundle.Notifications)
                    {
                        <p>
                            <a href="@Url.Action("Details", "Notifications", new { id = notification.Id })">
                                <span>@notification.CreatedOn</span>
                                @notification.Title
                            </a>
                        </p>
                    }
                }
                else
                {
                    <p>Pranešimų nėra</p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Pasikeitimų istorija</h3>
            </div>
            <div class="content">
                <p>kada sukurta, kada pakeista būsena, kada išimta įranga ar pan...</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/EquipmentBundles/_ModalEditMainInfo.cshtml")
@await Html.PartialAsync("~/Views/EquipmentBundles/_ModalEdit.cshtml")
@await Html.PartialAsync("~/Views/EquipmentBundles/_ModalArchive.cshtml")
@await Html.PartialAsync("~/Views/EquipmentBundles/_ModalAddEquipment.cshtml", Model)
@await Html.PartialAsync("~/Views/EquipmentBundles/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/EquipmentBundles/_ModalNew.cshtml", new EquipmentBundle())
