<div class="row view-mode-content-block" :class="[listViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block important">
            <div class="title">
                <h3>
                    @Html.ActionLink("Rezervacija", "Details", "Notifications")
                </h3>
                <ul class="sub-info">
                    <li class="important">Naujas pranešimas</li>
                    <li>2019-03-16 21:10</li>
                    <li>rezervacijos atnaujinimas</li>
                    <li>pranešimas nuo sistemos</li>
                </ul>
            </div>
            <div class="content">
                <p>Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" pakeista iš "Laukianti patvirtinimo" į "Patvirtinta".</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block important">
            <div class="title">
                <h3>
                    @Html.ActionLink("Priminimas", "Details", "Notifications")
                </h3>
                <ul class="sub-info">
                    <li class="important">Naujas pranešimas</li>
                    <li>2019-03-16 21:10</li>
                    <li>rezervacijos atnaujinimas</li>
                    <li>pranešimas nuo sistemos</li>
                </ul>
            </div>
            <div class="content">
                <p>Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" pakeista iš "Laukianti patvirtinimo" į "Patvirtinta".</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Naujiena", "Details", "Notifications")
                </h3>
                <ul class="sub-info">
                    <li>2019-03-16 21:10</li>
                    <li>rezervacijos atnaujinimas</li>
                    <li>pranešimas nuo sistemos</li>
                </ul>
            </div>
            <div class="content">
                <p>Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" pakeista iš "Laukianti patvirtinimo" į "Patvirtinta".</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Renginys", "Details", "Notifications")
                </h3>
                <ul class="sub-info">
                    <li>2019-03-16 21:10</li>
                    <li>rezervacijos atnaujinimas</li>
                    <li>pranešimas nuo sistemos</li>
                </ul>
            </div>
            <div class="content">
                <p>Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" pakeista iš "Laukianti patvirtinimo" į "Patvirtinta".</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Rezervacija", "Details", "Notifications")
                </h3>
                <ul class="sub-info">
                    <li>2019-03-16 21:10</li>
                    <li>rezervacijos atnaujinimas</li>
                    <li>pranešimas nuo sistemos</li>
                </ul>
            </div>
            <div class="content">
                <p>Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" pakeista iš "Laukianti patvirtinimo" į "Patvirtinta".</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Naujiena", "Details", "Notifications")
                </h3>
                <ul class="sub-info">
                    <li>2019-03-16 21:10</li>
                    <li>rezervacijos atnaujinimas</li>
                    <li>pranešimas nuo sistemos</li>
                </ul>
            </div>
            <div class="content">
                <p>Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" pakeista iš "Laukianti patvirtinimo" į "Patvirtinta".</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Renginys", "Details", "Notifications")
                </h3>
                <ul class="sub-info">
                    <li>2019-03-16 21:10</li>
                    <li>rezervacijos atnaujinimas</li>
                    <li>pranešimas nuo sistemos</li>
                </ul>
            </div>
            <div class="content">
                <p>Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" pakeista iš "Laukianti patvirtinimo" į "Patvirtinta".</p>
            </div>
        </div>
    </div>
</div>
