@using Microsoft.AspNetCore.Identity;
@using HardwareReservationAndAccountingSystem.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model List<Notification>;

<div class="row view-mode-content-block" :class="[listViewMode, {active: initialViewMode}]">
    @foreach (var notification in Model)
    {
        var newNotification = notification.NotificationsForUsers.Where(u => u.UserId == UserManager.GetUserId(User)).Any(x => !x.IsRead);

        <div class="col-md-12 add-margin">
            <div class="content-block @(newNotification ? "important" : "")">
                <div class="title">
                    <h3>
                        @Html.ActionLink(notification.Title, "Details", "Notifications", new { id = notification.Id })
                    </h3>
                    <ul class="sub-info">
                        @if (newNotification)
                        {
                            <li class="important">Naujas pranešimas</li>
                        }
                        <li>@notification.CreatedOn</li>
                        <li>@notification.NotificationType.Title</li>
                        <!-- <li>pranešimas nuo sistemos</li> -->
                    </ul>
                </div>
                <div class="content">
                    <p>
                        @if (!string.IsNullOrWhiteSpace(notification.Description))
                        {
                            @notification.Description
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>
