@using HardwareReservationAndAccountingSystem.Models;
@model List<Notification>;

<div class="row view-mode-content-block" :class="tableViewMode">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Pranešimai</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Pranešimo būsena <i class="fas fa-sort"></i></p>
                        <p>Sukūrimo laikas <i class="fas fa-sort"></i></p>
                        <p>Žinutės tekstas <i class="fas fa-sort"></i></p>
                        <p>Pranešimo tipas <i class="fas fa-sort"></i></p>
                        <p>Pranešimą sukūrė <i class="fas fa-sort"></i></p>
                        <p>Kam skirtas <i class="fas fa-sort"></i></p>
                    </div>
                    <!-- <div class="data-row notification-new">
                        <p class="notification-status new">@Html.ActionLink("Naujas", "Details", "Notifications")</p>
                        <p>@Html.ActionLink("2019-03-31 10:14", "Details", "Notifications")</p>
                        <p>@Html.ActionLink("Norime priminti, kad jūsų rezervacija a...", "Details", "Notifications")</p>
                        <p>@Html.ActionLink("Priminimas", "Details", "Notifications")</p>
                        <p>@Html.ActionLink("Sistema", "Details", "Notifications")</p>
                        <p>@Html.ActionLink("Visiems sistemos vartotojams", "Details", "Notifications")</p>
                    </div> -->
                    @foreach (var notification in Model)
                    {
                        <div class="data-row">
                            <p class="notification-status read"><a href="#">Skaitytas</a></p>
                            <!-- <p>@*@Html.ActionLink(notification.CreatedOn, "Details", "Notifications", new { id = notification.Id })*@</p> -->
                            <p>aaa</p>
                            <p><a href="#">@notification.Title</a></p>
                            <p><a href="#">@notification.NotificationType.Title</a></p>
                            <p><a href="#">Sistema</a></p>
                            <p><a href="#">Ieva Jakšaitytė</a></p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
