@using HardwareReservationAndAccountingSystem.Models;
@model Notification

@{
    ViewData["Title"] = "Pranešimo informacija";
}

@section PageHeaderTitle {
    <h2>Pranešimo informacija</h2>
}

@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Notifications")" class="btn btn-dark"><i class="fas fa-bell"></i> Visi pranešimai</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#archiveModal"><i class="fas fa-archive"></i> Archyvuoti</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newNotificationModal"><i class="fas fa-pencil-alt"></i> Sukurti naują</button>
}

<div class="row align-items-start">
    <div class="col-md-8 col-sm-12 add-margin">
        <div class="row">
            <div class="col add-margin">
                <div class="content-block">
                    <div class="title">
                        <h3>@Model.Title</h3>
                    </div>
                    <div class="content">
                        @if (!string.IsNullOrWhiteSpace(Model.Description))
                        {
                            <p>@Model.Description</p>
                        }
                        else
                        {
                            <text>-</text>
                        }
                    </div>
                </div>
            </div>
        </div>
        @if (Model.ReservationId != null)
        {
            <div class="row">
                <div class="col add-margin">
                    <div class="content-block">
                        <div class="title">
                            <h3><a href="@Url.Action("Details", "Reservations", new { id = Model.Reservation.Id })">Pranešimas susijęs su rezervacija</a></h3>
                        </div>
                        <div class="content">
                            <p class="secondary-text">@Model.Reservation.StartTime - @Model.Reservation.EndTime</p>
                            <p><strong>Įrangos komplektas: </strong> @Html.ActionLink(Model.Reservation.EquipmentBundle.Title, "Details", "EquipmentBundles", new { id = Model.Reservation.EquipmentBundle.Id })</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.EventId != null)
        {
            <div class="row">
                <div class="col add-margin">
                    <div class="content-block">
                        <div class="title">
                            <h3><a href="@Url.Action("Details", "Events", new { id = Model.Event.Id })">Pranešimas susijęs su renginiu: @Model.Event.Title</a></h3>
                        </div>
                        <div class="content">
                            <p class="secondary-text" style="margin-bottom: 15px">@Model.Event.StartTime - @Model.Event.EndTime</p>
                            @if (!string.IsNullOrWhiteSpace(Model.Event.Location))
                            {
                                <p><strong>Lokacija:</strong> @Model.Event.Location</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(Model.Event.Comment))
                            {
                                <p><strong>Komentaras</strong> @Model.Event.Comment</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.EquipmentId != null)
        {
            <div class="row">
                <div class="col add-margin">
                    <div class="content-block">
                        <div class="title">
                            <h3><a href="@Url.Action("Details", "Equipments", new { id = Model.Equipment.Id })">Pranešimas susijęs su įranga: @Model.Equipment.Title</a></h3>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>
                                        <a href="@Url.Action("Details", "Equipments", new { id = Model.Equipment.Id })">
                                            <img src="http://via.placeholder.com/500x300" class="img-fluid">
                                        </a>
                                    </p>
                                </div>
                                @if (!string.IsNullOrWhiteSpace(Model.Equipment.Description))
                                {
                                    <div class="col-md-8">
                                        <p>
                                            @(Model.Equipment.Description.Length > 300
                                                ? Model.Equipment.Description.Substring(0, 300) + "..."
                                                : Model.Equipment.Description)
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.EquipmentBundleId != null)
        {
            <div class="row">
                <div class="col add-margin">
                    <div class="content-block">
                        <div class="title">
                            <h3><a href="@Url.Action("Details", "EquipmentBundles", new { id = Model.EquipmentBundle.Id })">Pranešimas susijęs su įrangos komplektu: @Model.EquipmentBundle.Title</a></h3>
                        </div>
                        @if (!string.IsNullOrWhiteSpace(Model.EquipmentBundle.Description))
                        {
                            <div class="content">
                                <p>
                                    @(Model.EquipmentBundle.Description.Length > 300
                                        ? Model.EquipmentBundle.Description.Substring(0, 300) + "..."
                                        : Model.EquipmentBundle.Description)
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4 col-sm-12 add-margin">
        <div class="row">
            <div class="col add-margin">
                <div class="content-block">
                    <div class="title">
                        <h3>Pagrindinė informacija</h3>
                    </div>
                    <div class="content base-info">
                        <div class="row">
                            <div class="col-6"><p>Pranešimas sukurtas:</p></div>
                            <div class="col-6"><p>@Model.CreatedOn</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p>Pranešimą sukūrė:</p></div>
                            <div class="col-6"><p>@Html.ActionLink("Administratorius", "Details", "Users")</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p>Pranešimo būsena:</p></div>
                            <div class="col-6"><p>Paprastas pranešimas</p></div>
                        </div>
                        <div class="row">
                            <div class="col-6"><p>Pranešimo tipas:</p></div>
                            <div class="col-6"><p>@Model.NotificationType.Title</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col add-margin">
                <div class="content-block">
                    <div class="title">
                        <h3>Pranešimą jau perskaitė</h3>
                    </div>
                    <div class="content">
                        <p>
                            @foreach (var user in Model.NotificationsForUsers
                                .Select(u => u.User)
                                .Where(u => u.NotificationsForUsers.Any(x => x.IsRead)))
                            {
                                @Html.ActionLink(String.Format("{0} {1}", user.Name, user.Surname), "Details", "Users", new { id = user.Id })
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col add-margin">
                <div class="content-block">
                    <div class="title">
                        <h3>Pranešimo dar neskaitė</h3>
                    </div>
                    <div class="content">
                        <p>
                            @foreach (var user in Model.NotificationsForUsers
                               .Select(u => u.User)
                               .Where(u => u.NotificationsForUsers.Any(x => !x.IsRead)))
                            {
                                @Html.ActionLink(String.Format("{0} {1}", user.Name, user.Surname), "Details", "Users", new { id = user.Id })
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Notifications/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Notifications/_ModalArchive.cshtml")
@await Html.PartialAsync("~/Views/Notifications/_ModalNew.cshtml")
