@using HardwareReservationAndAccountingSystem.Enums;
@using HardwareReservationAndAccountingSystem.Models;
@model Reservation

<form asp-controller="Reservations" asp-action="EditStatus" method="post">
    <div class="modal fade edit-status-modal" id="editStatusModal" tabindex="-1" role="dialog" aria-labelledby="editStatusModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editStatusModalLabel">Rezervacijos būsenos keitimas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <p class="info-block-mini-title">Rezervacijos informacija</p>
                        </div>
                    </div>
                    <div class="row info-row">
                        <div class="col-md-6"><p>Rezervuota nuo:</p></div>
                        <div class="col-md-6"><p>@Model.StartTime</p></div>
                    </div>
                    <div class="row info-row">
                        <div class="col-md-6"><p>Rezervuota iki:</p></div>
                        <div class="col-md-6"><p>@Model.EndTime</p></div>
                    </div>
                    <div class="row info-row">
                        <div class="col-md-6"><p>Užsakovas:</p></div>
                        <div class="col-md-6"><p>@Html.ActionLink(String.Format("{0} {1}", Model.Customer.Name, Model.Customer.Surname), "Details", "Users", new { id = Model.CustomerId })</p></div>
                    </div>
                    <div class="row info-row">
                        <div class="col-md-6"><p>Įrangos komplektas:</p></div>
                        <div class="col-md-6"><p>@Html.ActionLink(Model.EquipmentBundle.Title, "Details", "EquipmentBundles", new { id = Model.EquipmentBundleId })</p></div>
                    </div>
                    @if (Model.EventId != null)
                    {
                        <div class="row info-row add-margin">
                            <div class="col-md-6"><p>Renginys:</p></div>
                            <div class="col-md-6"><p>@Html.ActionLink(Model.Event.Title, "Details", "Events", new { id = Model.EventId })</p></div>
                        </div>
                    }
                    <div class="row">
                        <div class="col">
                            <p class="info-block-mini-title">Rezervacijos būsena</p>
                        </div>
                    </div>
                    <div class="row info-row">
                        <div class="col-md-6"><p>Dabartinė būsena:</p></div>
                        <div class="col-md-6">
                            @await Html.PartialAsync("_ReservationStatusOnlyText", Model.Status)
                        </div>
                    </div>
                    <div class="row info-row">
                        <div class="col-md-6"><p>Nauja būsena:</p></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <select asp-for="Status" asp-items="Html.GetEnumSelectList<ReservationStatus>()" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Patvirtinti</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atšaukti</button>
                </div>
            </div>
        </div>
    </div>
</form>