<div class="row view-mode-content-block" :class="[tableViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Rezervacijos būsena <i class="fas fa-sort"></i></p>
                        <p>Sukūrimo laikas <i class="fas fa-sort"></i></p>
                        <p>Rezervuota nuo <i class="fas fa-sort"></i></p>
                        <p>Rezervuota iki <i class="fas fa-sort"></i></p>
                        <p>Užsakovas <i class="fas fa-sort"></i></p>
                        <p>Įrangos komplektas <i class="fas fa-sort"></i></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation waiting-approval">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Laukianti patvirtinimo <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation old">Praėjusi</p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation approved">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Patvirtinta <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation canceled">Atšaukta</p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation waiting-approval">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Laukianti patvirtinimo <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation approved">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Patvirtinta <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation in-progress">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Vykdoma <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation late">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Vėluoja <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation old">Praėjusi</p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation in-progress">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Vykdoma <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation stolen">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Pavogta <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation in-progress">
                            <a href="#" data-toggle="modal" data-target="#editStatusModal">Vykdoma <i class="far fa-edit"></i></a>
                        </p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                    <div class="data-row">
                        <p class="reservation canceled">Atšaukta</p>
                        <p>@Html.ActionLink("2019-02-20 10:32", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-10 10:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("2019-03-15 15:00", "Details", "Reservations")</p>
                        <p>@Html.ActionLink("Julijus Jakutavičius", "Details", "Users")</p>
                        <p><a href="#">Filmavimo komplektas #1</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
