@using HardwareReservationAndAccountingSystem.Enums;
@using HardwareReservationAndAccountingSystem.Models;
@model List<Reservation>

<div class="row view-mode-content-block" :class="tableViewMode">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Rezervacijos būsena <i class="fas fa-sort"></i></p>
                        <p>Sukūrimo laikas <i class="fas fa-sort"></i></p>
                        <p>Rezervuota nuo <i class="fas fa-sort"></i></p>
                        <p>Rezervuota iki <i class="fas fa-sort"></i></p>
                        <p>Užsakovas <i class="fas fa-sort"></i></p>
                        <p>Įrangos komplektas <i class="fas fa-sort"></i></p>
                        <p>Renginys <i class="fas fa-sort"></i></p>
                    </div>
                    @foreach (var reservation in Model)
                    {
                        <div class="data-row">
                            @await Html.PartialAsync("_ReservationStatus", reservation.Status)
                            <p>@Html.ActionLink(reservation.CreatedOn.ToString(), "Details", "Reservations", new { id = reservation.Id })</p>
                            <p>@Html.ActionLink(reservation.StartTime.ToString(), "Details", "Reservations", new { id = reservation.Id })</p>
                            <p>@Html.ActionLink(reservation.EndTime.ToString(), "Details", "Reservations", new { id = reservation.Id })</p>
                            <p>@Html.ActionLink(String.Format("{0} {1}", reservation.Customer.Name, reservation.Customer.Surname), "Details", "Users", new { id = reservation.CustomerId })</p>
                            <p>@Html.ActionLink(reservation.EquipmentBundle.Title, "Details", "EquipmentBundles", new { id = reservation.EquipmentBundle.Id })</p>
                            @if (reservation.EventId != null)
                            {
                                <p>@Html.ActionLink(reservation.Event.Title, "Details", "Events", new { id = reservation.Event.Id })</p>
                            }
                            else
                            {
                                <p>-</p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
