@using HardwareReservationAndAccountingSystem.ViewsModels.Reservations;
@model ReservationNewOrUpdate

@{
    ViewData["Title"] = "Rezervacijos informacija";
}

@section PageHeaderTitle {
    <h2>Rezervacijos informacija</h2>
}

@section PageHeaderSubNavLinks {
    <a href="@Url.Action("Index", "Reservations")" class="btn btn-dark"><i class="fas fa-calendar-check"></i> Visos rezervacijos</a>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exportModal"><i class="fas fa-download"></i> Eksportuoti</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#editModal"><i class="far fa-edit"></i> Atnaujinti</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newReservationModal"><i class="fas fa-pencil-alt"></i> Sukurti naują</button>
}

<div class="row">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title with-edit">
                <h3>Pagrindinė informacija</h3>
                <div class="edit-actions">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editMainInfoModal"><i class="far fa-edit"></i></button>
                </div>
            </div>
            <div class="content base-info">
                <div class="row">
                    <div class="col-md-2"><p>Rezervacijos laikotarpis:</p></div>
                    <div class="col-md-10"><p>@Model.Reservation.StartTime - @Model.Reservation.EndTime</p></div>
                </div>
                <div class="row">
                    <div class="col-md-2"><p>Sukūrimo laikas:</p></div>
                    <div class="col-md-10"><p>@Model.Reservation.CreatedOn</p></div>
                </div>
                @if (Model.Reservation.CreatedOn != Model.Reservation.UpdatedOn)
                {
                    <div class="row">
                        <div class="col-md-2"><p>Atnaujinimo laikas:</p></div>
                        <div class="col-md-10"><p>@Model.Reservation.UpdatedOn</p></div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-2"><p>Užsakovas:</p></div>
                    <div class="col-md-10"><p>@Html.ActionLink(String.Format("{0} {1}", Model.Reservation.Customer.Name, Model.Reservation.Customer.Surname), "Details", "Users", new { id = Model.Reservation.Customer.Id })</p></div>
                </div>
                @if (Model.Reservation.EventId != null)
                {
                    <div class="row">
                        <div class="col-md-2"><p>Renginys:</p></div>
                        <div class="col-md-10"><p>@Html.ActionLink(Model.Reservation.Event.Title, "Details", "Events", new { id = Model.Reservation.Event.Id })</p></div>
                    </div>
                }
                @if (!string.IsNullOrWhiteSpace(Model.Reservation.Comment))
                {
                    <div class="row">
                        <div class="col-md-2"><p>Komentaras:</p></div>
                        <div class="col-md-10"><p>@Model.Reservation.Comment</p></div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-2"><p>Rezervacijos būsena:</p></div>
                    <div class="col-md-10">
                        @await Html.PartialAsync("_ReservationStatus", Model.Reservation)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title with-edit less-margin">
                <h3>@Html.ActionLink("Rezervuotas įrangos komplektas: " + Model.Reservation.EquipmentBundle.Title, "Details", "EquipmentBundles", new { id = Model.Reservation.EquipmentBundle.Id })</h3>
                <div class="edit-actions">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editEquipmentBundleModal"><i class="far fa-edit"></i></button>
                </div>
            </div>
            <div class="content">
                @if (!string.IsNullOrWhiteSpace(Model.Reservation.EquipmentBundle.Description))
                {
                    <div class="row">
                        <div class="col">
                            <p>
                                @Model.Reservation.EquipmentBundle.Description
                            </p>
                        </div>
                    </div>
                }
                @if (Model.Reservation.EquipmentBundle.EquipmentsInBundles.Any())
                {
                    <div class="row">
                        @foreach (var equipment in Model.Reservation.EquipmentBundle.EquipmentsInBundles.Select(x => x.Equipment))
                        {
                            @await Html.PartialAsync("_SmallEquipmentBlock", equipment)
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Kalendorius</h3>
            </div>
            <div class="content">
                <Calendar />
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Su rezervacija susiję pranešimai</h3>
            </div>
            <div class="content">
                @if (Model.Reservation.Notifications.Any())
                {
                    foreach (var notification in Model.Reservation.Notifications)
                    {
                        <p>
                            <a href="@Url.Action("Details", "Notifications", new { id = notification.Id })">
                                <span>@notification.CreatedOn</span>
                                @notification.Title
                            </a>
                        </p>
                    }
                }
                else
                {
                    <p>Susijusių pranešimų nėra.</p>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Rezervacijos istorija</h3>
            </div>
            <div class="content">
                <p>lentelė arba sąrašas su pasikeitimais ir kada jie įvyko</p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Reservations/_ModalExport.cshtml")
@await Html.PartialAsync("~/Views/Reservations/_ModalNew.cshtml", new ReservationNewOrUpdate { Reservation = new Reservation(), EquipmentBundles = Model.EquipmentBundles })
@await Html.PartialAsync("~/Views/Reservations/_ModalEditStatus.cshtml", Model.Reservation)
@await Html.PartialAsync("~/Views/Reservations/_ModalEditMainInfo.cshtml")
@await Html.PartialAsync("~/Views/Reservations/_ModalEdit.cshtml")
@await Html.PartialAsync("~/Views/Reservations/_ModalEditEquipmentBundle.cshtml")
