@using HardwareReservationAndAccountingSystem.Enums;
@using HardwareReservationAndAccountingSystem.ViewsModels.Home;
@model HomeViewModel

@{
    ViewData["Title"] = "Pradžia";
}

@functions {
    public string StatusClassName(ReservationStatus status)
    {
        switch (status)
        {
            case ReservationStatus.Pending:
                return "waiting-approval";
            case ReservationStatus.Confirmed:
                return "approved";
            case ReservationStatus.Cancelled:
                return "canceled";
            case ReservationStatus.Active:
                return "in-progress";
            case ReservationStatus.Untaken:
                return "";
            case ReservationStatus.Completed:
                return "old";
            case ReservationStatus.Late:
                return "late";
            case ReservationStatus.Stolen:
                return "stolen";
            case ReservationStatus.Broken:
                return "";
            case ReservationStatus.Undefined:
                return "";
            default:
                return "";
        }
    }

    public string StatusTitle(ReservationStatus status)
    {
        switch (status)
        {
            case ReservationStatus.Pending:
                return "Laukianti patvirtinimo";
            case ReservationStatus.Confirmed:
                return "Patvirtinta";
            case ReservationStatus.Cancelled:
                return "Atšaukta";
            case ReservationStatus.Active:
                return "Vykdoma";
            case ReservationStatus.Untaken:
                return "Neatsiimta";
            case ReservationStatus.Completed:
                return "Įvykdyta";
            case ReservationStatus.Late:
                return "Vėluojanti";
            case ReservationStatus.Stolen:
                return "Įranga pavogta";
            case ReservationStatus.Broken:
                return "Įranga apgadinta";
            case ReservationStatus.Undefined:
                return "Neapibrėžta";
            default:
                return "";
        }
    }
}

@section PageHeaderTitle {
    <h2>Techninės įrangos rezervacija</h2>
}

<div class="row home-page align-items-start">
    <div class="col-md-5 col-sm-12 add-margin">
        <div class="row">
            <div class="col add-margin">
                <div class="content-block">
                    <div class="title with-edit less-margin">
                        <h3>@Html.ActionLink("Pranešimai", "Index", "Notifications")</h3>
                        <div class="edit-actions">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newNotificationModal"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </div>
                    <div class="content">
                        @foreach (var notification in Model.Notifications)
                        {
                            <p>
                                <a href="@Url.Action("Details", "Notifications", new { id = notification.Id })">
                                    <span>@notification.CreatedOn</span>
                                    @notification.Title
                                </a>
                            </p>
                        }
                        <!-- <p class="new"><a href="@Url.Action("Details", "Notifications")"><span>2019-03-16 21:10</span> Jūsų rezervacijos būsena įrangai "Komplektas renginio filmavimui" buvo patvirtinta.</a></p> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col add-margin">
                <div class="content-block">
                    <div class="title with-edit less-margin">
                        <h3>@Html.ActionLink("Renginiai", "Index", "Events")</h3>
                        <div class="edit-actions">
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newEventModal"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </div>
                    <div class="content">
                        @foreach (var e in Model.Events)
                        {
                            <p>
                                <a href="@Url.Action("Details", "Events", new { id = e.Id })">
                                    <span>@e.StartTime</span>
                                    @e.Title
                                </a>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-sm-12 add-margin">
        <div class="content-block">
            <div class="title with-edit">
                <h3>@Html.ActionLink("Rezervacijos", "Index", "Reservations")</h3>
                <div class="edit-actions">
                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#newReservationModal"><i class="fas fa-pencil-alt"></i></button>
                </div>
            </div>
            <div class="content">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="newest-tab" data-toggle="tab" href="#newest" role="tab" aria-controls="newest" aria-selected="true">Naujausios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="todays-tab" data-toggle="tab" href="#todays" role="tab" aria-controls="todays" aria-selected="false">Šiandienos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="week-tab" data-toggle="tab" href="#week" role="tab" aria-controls="week" aria-selected="false">Savaitės</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="old-tab" data-toggle="tab" href="#old" role="tab" aria-controls="old" aria-selected="false">Praėjusios</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="newest" role="tabpanel" aria-labelledby="newest-tab">
                        <div class="flex-table">
                            <div class="headings">
                                <p>Būsena</p>
                                <p>Nuo</p>
                                <p>Iki</p>
                                <p>Užsakovas</p>
                                <p>Įranga</p>
                            </div>
                            @foreach (var reservation in Model.Reservations)
                            {
                                <div class="data-row">
                                    <p class="reservation @StatusClassName(reservation.Status)">@Html.ActionLink(StatusTitle(reservation.Status), "Details", "Reservations", new { id = reservation.Id })</p>
                                    <p>@Html.ActionLink(reservation.StartTime.ToString(), "Details", "Reservations", new { id = reservation.Id })</p>
                                    <p>@Html.ActionLink(reservation.EndTime.ToString(), "Details", "Reservations", new { id = reservation.Id })</p>
                                    <p>@Html.ActionLink(String.Format("{0} {1}", reservation.Customer.Name, reservation.Customer.Surname), "Details", "Users", new { id = reservation.CustomerId })</p>
                                    <p>@Html.ActionLink(reservation.EquipmentBundle.Title, "Details", "EquipmentBundles", new { id = reservation.EquipmentBundleId })</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="todays" role="tabpanel" aria-labelledby="todays-tab">
                        <p>Šiandienos</p>
                    </div>
                    <div class="tab-pane fade" id="week" role="tabpanel" aria-labelledby="week-tab">
                        <p>Savaitės</p>
                    </div>
                    <div class="tab-pane fade" id="old" role="tabpanel" aria-labelledby="old-tab">
                        <p>Praėjusios</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Notifications/_ModalNew.cshtml")
@await Html.PartialAsync("~/Views/Events/_ModalNew.cshtml", new Event())
@await Html.PartialAsync("~/Views/Reservations/_ModalNew.cshtml")
