<div class="row view-mode-content-block" :class="listViewMode">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>
                    @Html.ActionLink("Įrangos pavadinimas", "Details", "Equipments")
                </h3>
            </div>
            <div class="content">
                <p>paveiksliukas ir info</p>
            </div>
        </div>
    </div>
</div>
