@using HardwareReservationAndAccountingSystem.Enums;
@using HardwareReservationAndAccountingSystem.Models;
@model List<Equipment>

<div class="row view-mode-content-block" :class="tableViewMode">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Atskira įranga</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Pavadinimas <i class="fas fa-sort"></i></p>
                        <p>Aprašymas <i class="fas fa-sort"></i></p>
                        <p>Ar paskelbta? <i class="fas fa-sort"></i></p>
                        <p>Įrangos tipas <i class="fas fa-sort"></i></p>
                    </div>
                    @foreach (var equipment in Model)
                    {
                        <div class="data-row">
                            <p>@Html.ActionLink(equipment.Title, "Details", "Equipments", new { id = equipment.Id })</p>
                            @{ 
                                var description = "-";

                                if (!string.IsNullOrWhiteSpace(equipment.Description))
                                {
                                    if (equipment.Description.Length > 40)
                                    {
                                        description = equipment.Description.Substring(0, 40) + "...";
                                    }
                                    else
                                    {
                                        description = equipment.Description;
                                    }
                                }
                            }
                            <p>@Html.ActionLink(description, "Details", "Equipments", new { id = equipment.Id })</p>
                            @if (equipment.Status == EquipmentStatus.Public)
                            {
                                <p class="is-public yes"><a href="@Url.Action("Details", "Equipments", new { id = equipment.Id })"><i class="fas fa-check"></i></a></p>
                            }
                            else
                            {
                                <p class="is-public no"><a href="@Url.Action("Details", "Equipments", new { id = equipment.Id })"><i class="fas fa-times"></i></a></p>
                            }
                            <p>@Html.ActionLink(equipment.EquipmentType.Title, "Details", "Equipments", new { id = equipment.Id })</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
