<div class="row view-mode-content-block" :class="[tableViewMode, {active: initialViewMode}]">
    <div class="col-md-12 add-margin">
        <div class="content-block">
            <div class="title">
                <h3>Vartotojai</h3>
            </div>
            <div class="content">
                <div class="flex-table styled-table">
                    <div class="headings">
                        <p>Vardas, pavardė</p>
                        <p>El. pašto adresas</p>
                        <p>Rolė</p>
                        <p>Komentaras</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role user"><a href="#" data-toggle="modal" data-target="#editRoleModal">Vartotojas <i class="far fa-edit"></i></a></p>
                        <p>aaaa</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role admin">Administratorius</p>
                        <p>aaaa</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role moderator"><a href="#" data-toggle="modal" data-target="#editRoleModal">Moderatorius <i class="far fa-edit"></i></a></p>
                        <p>aaaa</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role user"><a href="#" data-toggle="modal" data-target="#editRoleModal">Vartotojas <i class="far fa-edit"></i></a></p>
                        <p>aaaa</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role user"><a href="#" data-toggle="modal" data-target="#editRoleModal">Vartotojas <i class="far fa-edit"></i></a></p>
                        <p>aaaa</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role moderator"><a href="#" data-toggle="modal" data-target="#editRoleModal">Moderatorius <i class="far fa-edit"></i></a></p>
                        <p>aaaa</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role moderator"><a href="#" data-toggle="modal" data-target="#editRoleModal">Moderatorius <i class="far fa-edit"></i></a></p>
                        <p>aaaa</p>
                    </div>
                    <div class="data-row">
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p>@Html.ActionLink("aaaa", "Details", "Users")</p>
                        <p class="role user"><a href="#" data-toggle="modal" data-target="#editRoleModal">Vartotojas <i class="far fa-edit"></i></a></p>
                        <p>aaaa</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
